build/
bin/
VHDExplorer/
res/magisk.apk

imgui/
lwext4/

*.obj
*.pdb
*.res
*.ilk
*.exp
*.lib
*.idb
*.exe
*.bak
*.enc

.vs/
*.sln
*.vcxproj
*.user
.vscode/

*.log
build_log.txt

imgui.ini

Thumbs.db
desktop.ini
.DS_Store