build/
bin/

imgui/
lwext4/

*.obj
*.pdb
*.res
*.ilk
*.exp
*.lib
*.idb
*.exe
*.bak
*.enc
res/su_c

.vs/
*.sln
*.vcxproj
*.user
.vscode/

*.log
build_log.txt

imgui.ini

Thumbs.db
desktop.ini
.DS_Store

